.menuSel                {
    visibility          :   hidden;
    position            :   absolute;
    left                :   200px;
    top                 :   0px;
}

.brandLabel             {
    position            :   absolute;
    left                :   30px;
    top                 :   0px;
    color               :   #AB0DAB1;
}

.tileText               {
    width               :   100%;
    height              :   60%;
    bottom              :   0px;
    left                :   0px;
    position            :   absolute;
    overflow            :   hidden;
    background          :   white;

}

.tileTitle              {
    position            :   absolute;
    right               :   10px;
    top                 :   25%;
}

.tileCounter            {
    color               :   #FFC;
    position            :   absolute;
    right               :   10px;
    top                 :   25%;
}

nav                     {
    position            :   absolute;
    display             :   inline-block;
    margin              :   0px auto 25px;
    background-color    :   #5597b4;
    box-shadow          :   0 1px 1px #ccc;
    border-radius       :   2px;
    right               :   0px;
    top                 :   0px;
}

nav a                   {
    display             :   inline-block;
    padding             :   18px 30px;
    color               :   #fff !important;
    font-weight         :   bold;
    font-size           :   16px;
    text-decoration     :   none !important;
    line-height         :   1;
    text-transform      :   uppercase;
    background-color    :   transparent;

    -webkit-transition  :   background-color 0.25s;
    -moz-transition     :   background-color 0.25s;
    transition          :   background-color 0.25s;
}

nav a:first-child       {
    border-radius       :   2px 0 0 2px;
}

nav a:last-child        {
    border-radius       :   0 2px 2px 0;
}

nav.home     .home      ,
nav.products .products  ,
nav.services .services  ,
nav.contact  .contact   {
    background-color    :   #EFAB40;
}

p                       {
    font-size           :   22px;
    font-weight         :   bold;
    color               :   #7d9098;
}

p b                     {
    color               :   #ffffff;
    display             :   inline-block;
    padding             :   5px 10px;
    background-color    :   #c4d7e0;
    border-radius       :   2px;
    text-transform      :   uppercase;
    font-size           :   18px;
}